@model IEnumerable<MLandfill.Models.InvoiceDocket>

<div class="container">

    @*<input type="button" title="Create Invoice"   onclick="location.href='@Url.Action("InvoiceView", "ReportGen", new { ID = ViewData["selGeneratorId"] })'" />*@

    <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("InvoiceView", "ReportGen",
                                                                      new
                                                                      {
                                                                          month = ViewData["genMonth"],
                                                                          year = ViewData["genYear"],
                                                                          wasteAppCode = ViewData["genWasteApprovalCode"]
                                                                      })'"> CreateAW Invoice</button>
    <button type="button" onclick="TestButtonClick()" class="btn btn-info">Create Invoice</button>
    <h4>@ViewBag.InvoiceGenerated</h4>
</div>
<p>




</p>

@*@using (Html.BeginForm("Create"))  int year, string wasteAppCode*@
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocketNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WasteDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Net)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScaleTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.GenerLocationLsd)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocketId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocketNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WasteDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Net)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScaleTicket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReceived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GenerLocationLsd)
                </td>


            </tr>
        }

    </table>
}